

body {
  margin: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, system-ui;
  margin: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  --main-color: #444;
  --main-blue-color: #1677b3;
}
a {
  color: var(--main-blue-color);
  text-decoration: none;
}

/* 打印时的样式 */
@media print {
  @page {
    /* 纵向 */
    /* size: portrait; */

    /* 横向 */
    /* size: landscape; */

    /* 边距 上右下左 */
    /* margin: 0cm 0cm 0cm 0cm; */
  }

  /* 打印时隐藏掉 */
  .printing-hidden {
    display: none;
  }
}

.container {
  width: 794px;
  margin-left: auto;
  margin-right: auto;
  /* height: 1122px; */
  /* outline: 1px solid red; */
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.6;
  color: var(--main-color);
  position: relative;
}
table {
  border-collapse: collapse;
}

.header {
  position: relative;
}
.header table tr {
  border-bottom: 1px solid #ddd;
}
.header table th {
  width: 100px;
  text-align: left;
  font-weight: normal;
  color: #888;
}
.header table th::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--main-blue-color);
  border-radius: 50%;
  margin-right: 6px;
}
.header table td {
  width: 170px;
}
.avatar {
  position: absolute;
  right: 0px;
  /* top: 50px; */
  bottom: 0px;
  width: 150px;
  height: 200px;
  /* background-color: hotpink; */
  /* outline: 1px solid red; */
}
.avatar img {
  width: 100%;
}

section {
  margin: 20px 0;
}
section header {
  /* outline: 1px solid brown; */
  position: relative;
  border-bottom: 2px solid var(--main-blue-color);
  height: 30px;
  padding: 0 0 0 10px;
  color: #fff;
}
section header h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
section header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  border-right: 30px solid transparent;
  border-bottom: 30px solid var(--main-blue-color);
  border-left: 110px solid var(--main-blue-color);
}
section header::after {
  content: "";
  position: absolute;
  left: 140px;
  bottom: -2px;
  width: 6px;
  border-bottom: 2px solid #fff;
}
section table {
  width: 100%;
  color: var(--main-blue-color);
  margin: 10px 0;
}
section table tr td {
  width: 33%;
}
section table tr td:nth-child(2) {
  text-align: center;
}
section table tr td:nth-child(3) {
  text-align: right;
}

.icon {
  display: inline-flex;
  align-items: center;
  /* width: 10px;
  border-top: 6px solid var(--main-blue-color);
  border-right: 6px solid var(--main-blue-color);
  border-bottom: 6px solid var(--main-blue-color);
  border-left: 6px solid transparent;
  vertical-align: 1px;
  margin-right: 10px; */
  width: 24px;
  height: 12px;
  background-color: var(--main-blue-color);
  position: relative;
  margin-right: 5px;
}
.icon::after {
  content: "";
  position: absolute;
  left: -1px;
  border-top: 6px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #fff;
}
/* ul .icon {
  margin-left: -40px;
  margin-right: 20px;
} */

/* .qr-code {
  width: 150px;
  height: 150px;
  vertical-align: middle;
} */
