body {
  margin: 0;
  display: flex;
  justify-content: center;
}
.container {
  width: 794px;
  height: 1122px;
  /* outline: 1px solid red; */
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.6;
  color: #444;
  position: relative;
}
/* .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  border-right: 10px solid #fff;
  border-top: 10px solid #409EFF;
  border-left: 10px solid #fff;
} */
table {
  border-collapse: collapse;
}
.header table tr {
  border-bottom: 1px solid #ddd;
}
.header table th {
  width: 100px;
  text-align: left;
  font-weight: normal;
  color: #888;
}
.header table th::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #409EFF;
  border-radius: 50%;
  margin-right: 6px;
}
.header table td {
  width: 150px;
}
.avatar {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 150px;
  height: 200px;
  /* background-color: hotpink; */
  /* outline: 1px solid red; */
}
.avatar img {
  width: 100%;
}

section {
  margin: 20px 0;
}
section header {
  /* outline: 1px solid brown; */
  position: relative;
  border-bottom: 2px solid #409EFF;
  height: 30px;
  padding: 0 0 0 10px;
  color: #fff;
}
section header h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
section header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  border-right: 30px solid transparent;
  border-bottom: 30px solid #409EFF;
  border-left: 110px solid #409EFF;
}
section header::after {
  content: "";
  position: absolute;
  left: 140px;
  bottom: -2px;
  width: 6px;
  border-bottom: 2px solid #fff;
}
section table {
  width: 100%;
  color: #409EFF;
  margin: 10px 0;
}
section table tr td {
  width: 33%;
}
section table tr td:nth-child(2) {
  text-align: center;
}
section table tr td:nth-child(3) {
  text-align: right;
}


.icon::before {
  content: "";
  display: inline-block;
  width: 10px;
  border-top: 6px solid #409EFF;
  border-right: 6px solid #409EFF;
  border-bottom: 6px solid #409EFF;
  border-left: 6px solid transparent;
  vertical-align: 1px;
  margin-right: 10px;
}
ul .icon::before {
  margin-left: -40px;
  margin-right: 20px;
}
